body{
    background-color: black;
}

.header{
    display: flex; 
    flex-direction: row; 
    justify-content: space-around; 
    word-spacing: 15px; 
    color: white;
    font-family: Arial;
    border: 1px solid black;
    position: fixed;
    margin-left: 12.5em;
    
}

main{
    color: black;
    text-align: center;
    font-family: Arial;
    background-color: #ffffff;
    font-size: 30px;
}

img{
    width: 100%;
}

.iPhone{
    background-color: white;
}

.div{
    color: white;
    text-align: center;
    padding-top: 1em;
}
